<div class="flexslider">
  <ul class="slides">
  {% for slide in site.data.hero %}
    <li>
      <a href="{{ slide.url | relative_url }}">
        <div class="slidewrap" style="background-image: url({{ slide.image | relative_url }});">
          <div class="background{% if slide.dark %} background-dark{% endif %}">
            <div class="headline">
              <h2 class="flex-caption-title">{{ slide.title | escape }}</h2>
              <p class="flex-caption">{{ slide.caption | escape }}</p>
              {% if slide.credit %}<p class="flex-credit">{{ slide.credit | escape }}</p>{% endif %}
            </div>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
