@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Gotham SSm A", "Gotham SSm B";
  background: #EDEDED;
}

.flexslider {
  background: transparent;
  border: 0px solid transparent;
  max-width: 100%;
}
.flexslider .slidewrap {
  opacity: 0.90;
  background: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flexslider .background {
  /* background: #800000; */
  /* opacity: 0.2; */
  height: 500px;
  position: relative;
}
.flexslider .slides {
  max-height: 400px;
}

.flexslider .headline{
  background: rgba(0,0,0,.4);
  width: 100%;
  /* color: #155F83; */
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  /* opacity: .1; */
  /* z-index: 2; */
  /* width: 75%; */
  position: absolute;
  bottom: 0;
  /* padding: 1em; */
  padding-top: 10px;
  padding-bottom: 25px;
}

.flexslider .headline .flex-caption-title {
  color: white;
}

.flexslider li {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
}

.flexslider .slides img {
  margin-left: auto;
	margin-right: auto;
	display: block;
  height: 400px;
  width: auto;
  background-size: cover;
}

.flex-direction-nav a {
  width: inherit;
  height: inherit;
}
.flex-next {
  right: -70px;
  /* font-size: 0; */
}
.flex-direction-nav {
  font-size: 0;
}

.flexslider .slideshow-zoom {
  transition: transform 0.2s;
}

.flexslider .slideshow-zoom:hover {
  transform: scale(1.1);
}

.flex-control-nav {
  bottom: 10px;
}
.flex-control-paging li a.flex-active {
  background: rgba(255, 181, 71, 0.9);
}
.flex-control-paging li a.flex-active:hover {
  background: rgba(255, 181, 71, 0.9);
}
.flex-control-paging li a {
  background: rgba(255, 255, 255, 0.6);
}
.flex-control-paging li a:hover {
  background: rgba(255, 255, 255, 0.5);
}

footer {
  background: -webkit-linear-gradient(top, #403f3f 0, #383737 100%);
}

.sub-hero {
  background: url(/assets/home_banner.png) no-repeat center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
}
