---
layout: default
---

{% if page.categories.columns %}
    {% assign columns = page.categories.columns %}
{% else %}
    {% assign columns = 3 %}
{% endif %}


{% if page.featured.tag %}
<div class="uk-section uk-text-center">
    <div class="uk-container uk-container-small">

        {% if page.featured.title %}
        <h2 class="heading-hero-2">{{ page.featured.title }}</h2>
        {% endif %}
        <ul class="uk-list uk-list-large list-featured uk-child-width-1-2@s" data-uk-grid>
        {% for doc in site.docs %}
            {% if doc.tags contains page.featured.tag %}
            <li><a href="{{ site.baseurl }}{{ doc.url }}">{{doc.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>
</div>
{% endif %}

<img src="/assets/maniac_bottom_banner.png"/>

{% if page.section %}
<div class="uk-section uk-text-center">
    <div class="uk-container uk-container-small">

        {% if page.section.title %}
            <h2 class="uk-text-center heading-hero-2">{{ page.section.title }}</h2>
        {% endif %}

        {% if page.section.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.section.subtitle | escape }}</p>{% endif %}

            <div class="article-content uk-margin-medium-top">{{ content }}</div>
    </div>
</div>
{% endif %}

{% if page.cta.button_url contains 'http' %}
    {% assign domain = '' %}
{% else %}
    {% assign domain = relative_url %}
{% endif %}


{% if page.cta %}
<div class="uk-section uk-text-center">
    <div class="uk-container uk-container-small">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            <h3>{{ page.cta.title }}</h3>
            {% if page.cta.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.cta.subtitle | escape }}</p>{% endif %}
            <a class="uk-button uk-button-primary uk-button-large button-cta" href="{{ domain }}{{ page.cta.button_url }}">{{ page.cta.button_text }}</a>
        </div>
    </div>
</div>
{% endif %}
