---
layout: default
---

{% if page.categories.columns %}
    {% assign columns = page.categories.columns %}
{% else %}
    {% assign columns = 3 %}
{% endif %}


{% if page.featured.tag %}
<div class="uk-section uk-text-center">
    <div class="uk-container uk-container-small">

        {% if page.featured.title %}
        <h2 class="heading-hero-2">{{ page.featured.title }}</h2>
        {% endif %}
        <ul class="uk-list uk-list-large list-featured uk-child-width-1-2@s" data-uk-grid>
        {% for doc in site.docs %}
            {% if doc.tags contains page.featured.tag %}
            <li><a href="{{ site.baseurl }}{{ doc.url }}">{{doc.title}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>

    </div>
</div>
{% endif %}

<div class="uk-section section-hero uk-text-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
  <div class="uk-container uk-container-small">
    {% include flexslider-posts.html %}
  </div>
</div>

<div class="uk-section sub-hero"
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
    <div class="uk-container uk-container-small row">
      <div class="columns">
        {% if page.hero.image %}
        <div class="column">
          <p class="hero-image uk-text-center">
            <img src="{{ site.post_assets | absolute_url }}{{ page.hero.image }}" alt="Hero">
          </p>
        </div>
        {% endif %}
        <div class="column">
          <h1 class="uk-heading-hero uk-text-center" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.2);">{{ page.hero.title }}</h1>
          {% if page.hero.subtitle %}
          <p class="subtitle uk-text-lead uk-text-center">
            {{ page.hero.subtitle }}
          </p>
          <p class="uk-text-lead">
            {{ page.hero.description }}
          </p>
          {% endif %}
        </div>
      </div>
      <div class="columns">
      {% if page.hero.description_2 %}
        <div class="column uk-text-center">
          <img src="/assets/img/maniac_nicholas.jpg" style="max-height: 250px; width:auto;" alt="Hero">
        </div>
        <div class="column">
          <p class="uk-text-lead">
            {{ page.hero.description_2 }}
          </p>
        </div>
      {% endif %}
      </div>

    </div>
</div>


<img src="/assets/maniac_bottom_banner.png"/>

{% if page.section %}
<div class="uk-section" style="font-weight:200;">
  <div class="uk-container uk-container-small" style="max-width: 75%;">
  {% if page.section.title %}
    <h2 class="uk-text-center heading-hero-2">{{ page.section.title }}</h2>
  {% endif %}

  {% if page.section.subtitle %}
    <p class="subtitle uk-text-lead">{{ page.section.subtitle | escape }}</p>
  {% endif %}
    <div class="article-content uk-margin-medium-top">{{ content }}</div>
  </div>
</div>
{% endif %}

{% if page.cta.button_url contains 'http' %}
    {% assign domain = '' %}
{% else %}
    {% assign domain = relative_url %}
{% endif %}


{% if page.cta %}
<div class="uk-section uk-text-center" style="background: white; font-weight:200;">
    <div class="uk-container uk-container-small">
        <div data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            <h3>{{ page.cta.title }}</h3>
            {% if page.cta.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.cta.subtitle | escape }}</p>{% endif %}
            <a class="uk-button uk-button-primary uk-button-large button-cta" href="{{ domain }}{{ page.cta.button_url }}">{{ page.cta.button_text }}</a>
        </div>
    </div>
</div>
{% endif %}
